like int() and float() which convert to their respective data types, bool() converts values to boolean<br/>
numbers are converted to 'True', '0' is converted to false, strings are converted to 'True' and and empty<br/>
string is converted to 'False'. Examples are shown below

In [ ]:
print(bool(1))
print(bool(0))
print(bool("abc"))
print(bool("")) # take care to not input a space in the quotes

converting a bool with 'True" to int results to 1<br/>
converting a bool with "False" to int results to 0<br/>

In [ ]:
x = bool(1)
print(int(x))

#### lists functions, methods and Slicing

In [1]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupyter", "Saturn", "Uranus", "Neptune"]
lst = [[1, 2, 3], [3, 2, 1], [4, 5, 6]] # A list of lists

print(planets[0:3]) # picks the first value through to the third value in the list
print(planets[-3:]) # returns the last three planets
print(planets[:-3]) # exclude the last three planets
planets.append("Pluto") # adds an element to a list
print(planets)
planets.pop() # Removes and returns the last element of a list
sorted(planets) # sort function returns a sorted version of the list
print(planets)
len(planets) # length function returns the length of the list
planets.index("Earth") # returns the index of earth in the list
"pluto" in planets # returns 'True' if pluto is in the list

['Mercury', 'Venus', 'Earth']
['Saturn', 'Uranus', 'Neptune']
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupyter']
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupyter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupyter', 'Saturn', 'Uranus', 'Neptune']

False

Tuples are similar to list but<br/>
1 - are created with parentheses<br/>
2- Cannot be modified<br/>

In [3]:
t = (1, 2, 3)
print(t)

(1, 2, 3)

list comprehensions offer a shorter syntax for creating or appending lists

In [4]:
# traditional way of writing
squares = []
for n in range(10):
    squares.append(n**2)
print(squares)

# using a list comprehension
squares = [n**2 for n in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

because lists are indexed from 0, when getting the last item in a list you<br/>
have to subtract one from the total number of items in the list <br/>

In [ ]:
names = ["Kelly", "Nelly", "Jimmy", "Lenny"]
print(names[4] - 1)